# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment folders (if you ever create one locally)
env/
venv/
.venv/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
